# UbuzimaPlus local-development environment
# Never place real credentials here.

APP_DEBUG=true
APP_ENV=local
APP_FAKER_LOCALE=
APP_FALLBACK_LOCALE=
APP_KEY=
APP_LOCALE=
APP_MAINTENANCE_DRIVER=
APP_NAME="UbuzimaPlus"
APP_URL=http://localhost
AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_USE_PATH_STYLE_ENDPOINT=
BCRYPT_ROUNDS=
BROADCAST_CONNECTION=
CACHE_DRIVER=file
CACHE_STORE=file
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
FILESYSTEM_DISK=
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=debug
LOG_STACK=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=127.0.0.1
MAIL_MAILER=log
MAIL_PASSWORD=
MAIL_PORT=2525
MAIL_SCHEME=
MAIL_USERNAME=
MEMCACHED_HOST=
QUEUE_CONNECTION=sync
REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN=
SESSION_DRIVER=file
SESSION_ENCRYPT=
SESSION_LIFETIME=
SESSION_PATH=
VITE_APP_NAME=
